
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 20% 98%;
    --foreground: 260 25% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262 51% 31%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 262 42% 90%;
    --accent-foreground: 262 51% 31%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 51% 31%;

    --radius: 0.5rem;

    --sidebar-background: 262 51% 16%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 262 51% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 262 35% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 262 35% 25%;
    --sidebar-ring: 262 51% 50%;
  }

  .dark {
    --background: 262 35% 15%;
    --foreground: 210 40% 98%;

    --card: 262 35% 20%;
    --card-foreground: 210 40% 98%;

    --popover: 262 35% 20%;
    --popover-foreground: 210 40% 98%;

    --primary: 262 51% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 262 35% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 262 35% 25%;
    --muted-foreground: 215 20.2% 75%;

    --accent: 262 35% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 40%;
    --destructive-foreground: 210 40% 98%;

    --border: 262 35% 25%;
    --input: 262 35% 25%;
    --ring: 262 51% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .mana-icon {
    @apply inline-block w-6 h-6 rounded-full border-2 border-gray-300;
  }
  .mana-w {
    @apply bg-mtg-white;
  }
  .mana-u {
    @apply bg-mtg-blue;
  }
  .mana-b {
    @apply bg-mtg-black;
  }
  .mana-r {
    @apply bg-mtg-red;
  }
  .mana-g {
    @apply bg-mtg-green;
  }
}
